{% includeCssResource "commercing/css/commercing.css" %}
{% includeCssResource "commercing/css/morris.css" %}
{% includeJsResource "commercing/js/libs/raphael-min.js" %}
{% includeJsResource "commercing/js/libs/morris.min.js" %}
{% includeJsResource "commercing/js/commercing.js" %}

{{ settings.someSetting }}

<section id="commercing">

	<div id="myfirstchart" style="height: 250px;"></div>

	
	<div class="panel">
		<h1>$ {{ totalPrice }}</h1>
		<p>Total sales</p>
	</div>

	<hr />

	<div class="panel">
		<h1>{{ popularProduct['product'].getTitle() }}</h1>
		<p>Most product sold - {{ popularProduct['occurances'] }} sold</p>
	</div>

	<hr />

	<div class="panel">
		<h1>{{ ordersProcessing }} Orders</h1>
		<p>awaiting processing</p>
	</div>

	<hr />

	<div class="panel">
		<h1>{{ ordersShipped }} Orders</h1>
		<p>have shipped</p>
	</div>

	<hr />
</section>